In [1]:
import graphlab

In [2]:
sales = graphlab.SFrame('kc_house_data.gl/')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1557925527.log

This non-commercial license of GraphLab Create for academic use is assigned to yumupinglan@gmail.com and will expire on March 22, 2020.

In [3]:
sales.head()

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 10

Data:
+------------+---------------------------+-----------+----------+-----------+
|     id     |            date           |   price   | bedrooms | bathrooms |
+------------+---------------------------+-----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000.0 |   3.0    |    2.25   |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000.0 |   2.0    |    1.0    |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000.0 |   4.0    |    3.0    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000.0 |   3.0    |    2.0    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000.0 |   4.0    |    4.5    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500.0 |   3.0    |    2.25   |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850.0 |   3.0    |    1.5    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500.0 |   3.0    |    1.0    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000.0 |   3.0    |    2.5    |
+------------+---------------------------+-----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
|    770.0    |  10000   |   1    |     0      |  0   |     3     |   6   |    770     |
|    1960.0   |   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |
|    1680.0   |   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |
|    5420.0   |  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |
|    1715.0   |   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |
|    1060.0   |   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |
|    1780.0   |   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |
|    1890.0   |   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
|       0       |   1933   |      0       |  98028  | 47.73792661 |
|      910      |   1965   |      0       |  98136  |   47.52082  |
|       0       |   1987   |      0       |  98074  | 47.61681228 |
|      1530     |   2001   |      0       |  98053  | 47.65611835 |
|       0       |   1995   |      0       |  98003  | 47.30972002 |
|       0       |   1963   |      0       |  98198  | 47.40949984 |
|      730      |   1960   |      0       |  98146  | 47.51229381 |
|       0       |   2003   |      0       |  98038  | 47.36840673 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
| -122.23319601 |     2720.0    | ... |
| -122.39318505 |     1360.0    | ... |
| -122.04490059 |     1800.0    | ... |
| -122.00528655 |     4760.0    | ... |
| -122.32704857 |     2238.0    | ... |
| -122.31457273 |     1650.0    | ... |
| -122.33659507 |     1780.0    | ... |
|  -122.0308176 |     2390.0    | ... |
+---------------+---------------+-----+
[10 rows x 21 columns]

In [4]:
train_data,test_data = sales.random_split(.8,seed=0)

In [6]:
# Let's compute the mean of the House Prices in King County in 2 different ways.
prices = sales['price'] # extract the price column of the sales SFrame -- this is now an SArray

# recall that the arithmetic average (the mean) is the sum of the prices divided by the total number of houses:
sum_prices = prices.sum()
num_houses = prices.size() # when prices is an SArray .size() returns its length
avg_price_1 = sum_prices/num_houses
avg_price_2 = prices.mean() # if you just want the average, the .mean() function
print "average price via method 1: " + str(avg_price_1)
print "average price via method 2: " + str(avg_price_2)

average price via method 1: 540088.141905
average price via method 2: 540088.141905

In [7]:
bedrooms = sales['bedrooms']

In [8]:
bedrooms_prices_product = bedrooms * prices

In [9]:
bedrooms_prices_product

dtype: float
Rows: 21613
[665700.0, 1614000.0, 360000.0, 2416000.0, 1530000.0, 4900000.0, 772500.0, 875550.0, 688500.0, 969000.0, 1987500.0, 936000.0, 930000.0, 1200000.0, 2650000.0, 2600000.0, 1185000.0, 1940000.0, 378000.0, 690000.0, 1540000.0, 6000000.0, 1425000.0, 505400.0, 987000.0, 699000.0, 2811000.0, 2001000.0, 1314000.0, 2876000.0, 1741500.0, 560000.0, 2750000.0, 1605000.0, 1290000.0, 2088000.0, 2200000.0, 2560000.0, 960000.0, 2420000.0, 2500000.0, 3100000.0, 4309950.0, 2055000.0, 927000.0, 1464000.0, 631470.0, 3140000.0, 1350000.0, 4050000.0, 684000.0, 1725000.0, 1800000.0, 1170000.0, 4600000.0, 3540000.0, 1170000.0, 903000.0, 4755000.0, 1720000.0, 1950000.0, 867000.0, 1515000.0, 1647000.0, 1275000.0, 952875.0, 3900000.0, 1148000.0, 612000.0, 6625000.0, 5200000.0, 975000.0, 2284000.0, 1440000.0, 1047000.0, 3330000.0, 1520000.0, 1440000.0, 1230000.0, 2880000.0, 1170000.0, 1440000.0, 710000.0, 1068000.0, 945000.0, 2820000.0, 1525000.0, 1383000.0, 430000.0, 670000.0, 974000.0, 5499400.0, 459000.0, 1290000.0, 2100000.0, 3620000.0, 742500.0, 796000.0, 942000.0, 1312500.0, ... ]

In [27]:
def simple_linear_regression(xs, ys):
#     xs = sales[input_feature]
    sum_xs=xs.sum()
#     ys = sales[output]
    sum_ys = ys.sum()
    xy_product = xs*ys
    sum_xy_product = xy_product.sum()
    print "sum_xy_product value: "+str(sum_xy_product)
    xs_squared = xs*xs
    print "xs_squared value: "+str(xs_squared)
    ys_squared = ys*ys
    sum_xs_squared = xs_squared.sum()
    sum_ys_squared = ys_squared.sum()
    print "sum_ys_squared value: "+str(sum_ys_squared)
    N = xs.size()
    slop1 = sum_xy_product - ((sum_ys*sum_xs)/N)
    slop2 = sum_xs_squared - ((sum_xs*sum_xs)/N)
    slop = slop1/slop2
    print "slop1 value: "+str(slop1)
    print "slop2 value: "+str(slop2)
    print "slop value: "+str(slop)
    intercept = sum_ys/N - slop * sum_xs/N
    print "intercept value: "+str(intercept)
    return (intercept, slop)

In [28]:
test_feature = graphlab.SArray(range(5))
test_output = graphlab.SArray(1 + 1*test_feature)
(test_intercept, test_slope) =  simple_linear_regression(test_feature, test_output)
print "Intercept: " + str(test_intercept)
print "Slope: " + str(test_slope)

sum_xy_product value: 40
xs_squared value: [0, 1, 4, 9, 16]
sum_ys_squared value: 55
slop1 value: 10
slop2 value: 10
slop value: 1
intercept value: 1
Intercept: 1
Slope: 1