In [1]:
import graphlab

In [2]:
image_train = graphlab.SFrame('image_train_data/')
image_test = graphlab.SFrame('image_test_data/')

This non-commercial license of GraphLab Create for academic use is assigned to yumupinglan@gmail.com and will expire on March 22, 2020.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1557404187.log

In [7]:
sketch = image_train['label'].sketch_summary()

In [9]:
sketch

+------------------+-------+----------+
|       item       | value | is exact |
+------------------+-------+----------+
|      Length      |  2005 |   Yes    |
| # Missing Values |   0   |   Yes    |
| # unique values  |   4   |    No    |
+------------------+-------+----------+

Most frequent items:
+-------+------------+-----+-----+------+
| value | automobile | cat | dog | bird |
+-------+------------+-----+-----+------+
| count |    509     | 509 | 509 | 478  |
+-------+------------+-----+-----+------+

In [10]:
dog_train = image_train[image_train['label']=='dog']

In [13]:
dog_train.num_rows()

509

In [14]:
cat_train = image_train[image_train['label']=='cat']

In [15]:
cat_train.num_rows()

509

In [16]:
automobile_train = image_train[image_train['label']=='automobile']

In [17]:
automobile_train.num_rows()

509

In [18]:
bird_train = image_train[image_train['label']=='bird']

In [19]:
bird_train.num_rows()

478

In [20]:
bird_train.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+-----+----------------------+-------+-------------------------------+
|  id |        image         | label |         deep_features         |
+-----+----------------------+-------+-------------------------------+
|  24 | Height: 32 Width: 32 |  bird | [0.242871761322, 1.0954537... |
|  90 | Height: 32 Width: 32 |  bird | [1.71786928177, 0.0, 0.0, ... |
| 121 | Height: 32 Width: 32 |  bird | [0.0, 0.23753464222, 0.0, ... |
| 138 | Height: 32 Width: 32 |  bird | [0.658935725689, 0.0, 0.0,... |
| 335 | Height: 32 Width: 32 |  bird | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 560 | Height: 32 Width: 32 |  bird | [1.69159495831, 0.0, 0.0, ... |
| 649 | Height: 32 Width: 32 |  bird | [0.511156201363, 0.3241650... |
| 775 | Height: 32 Width: 32 |  bird | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 802 | Height: 32 Width: 32 |  bird | [0.277166724205, 0.0, 0.0,... |
| 975 | Height: 32 Width: 32 |  bird | [0.0, 0.0336718559265, 0.0... |
+-----+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [73.0, 77.0, 58.0, 71.0, 6... |
| [216.0, 195.0, 180.0, 201.... |
| [93.0, 96.0, 88.0, 102.0, ... |
| [205.0, 193.0, 195.0, 200.... |
| [160.0, 159.0, 154.0, 162.... |
| [147.0, 138.0, 88.0, 151.0... |
| [65.0, 127.0, 9.0, 127.0, ... |
| [29.0, 41.0, 25.0, 29.0, 4... |
| [233.0, 230.0, 173.0, 222.... |
| [59.0, 180.0, 110.0, 88.0,... |
+-------------------------------+
[10 rows x 5 columns]

In [21]:
dog_model = graphlab.nearest_neighbors.create(dog_train,features=['deep_features'],
                                             label='id')

Starting brute force nearest neighbors model training.

In [22]:
cat_model = graphlab.nearest_neighbors.create(cat_train,features=['deep_features'],
                                             label='id')

Starting brute force nearest neighbors model training.

In [23]:
automobile_model = graphlab.nearest_neighbors.create(automobile_train,features=['deep_features'],
                                             label='id')

Starting brute force nearest neighbors model training.

In [24]:
bird_model = graphlab.nearest_neighbors.create(bird_train,features=['deep_features'],
                                             label='id')

Starting brute force nearest neighbors model training.

In [25]:
cat_model.query(image_test[0:1])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 13.983ms     |

| Done         |         | 100         | 76.738ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16289      |  34.623719208 |  1   |
|      0      |      45646      | 36.0068799284 |  2   |
|      0      |      32139      | 36.5200813436 |  3   |
|      0      |      25713      | 36.7548502521 |  4   |
|      0      |       331       | 36.8731228168 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [26]:
dog_model.query(image_test[0:1])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 22.055ms     |

| Done         |         | 100         | 86.164ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16976      | 37.4642628784 |  1   |
|      0      |      13387      | 37.5666832169 |  2   |
|      0      |      35867      | 37.6047267079 |  3   |
|      0      |      44603      | 37.7065585153 |  4   |
|      0      |       6094      | 38.5113254907 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [27]:
knn5_cat = cat_model.query(image_test[0:1])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 11.109ms     |

| Done         |         | 100         | 59.445ms     |

+--------------+---------+-------------+--------------+

In [28]:
knn5_cat['distance'][0:4].mean()

35.9763826830405

In [29]:
knn5_cat.head(5)

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16289      |  34.623719208 |  1   |
|      0      |      45646      | 36.0068799284 |  2   |
|      0      |      32139      | 36.5200813436 |  3   |
|      0      |      25713      | 36.7548502521 |  4   |
|      0      |       331       | 36.8731228168 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [30]:
knn5_dog = dog_model.query(image_test[0:1])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 10.947ms     |

| Done         |         | 100         | 79.352ms     |

+--------------+---------+-------------+--------------+

In [31]:
knn5_dog['distance'][0:4].mean()

37.58555782961703

In [32]:
cat_test = image_test[image_test['label']=='cat']

In [33]:
cat_test.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+----+----------------------+-------+-------------------------------+
| id |        image         | label |         deep_features         |
+----+----------------------+-------+-------------------------------+
| 0  | Height: 32 Width: 32 |  cat  | [1.13469004631, 0.0, 0.0, ... |
| 8  | Height: 32 Width: 32 |  cat  | [0.0, 0.0, 0.0344192385674... |
| 46 | Height: 32 Width: 32 |  cat  | [0.0, 0.0, 0.255758941174,... |
| 53 | Height: 32 Width: 32 |  cat  | [0.61073166132, 0.0, 0.0, ... |
| 61 | Height: 32 Width: 32 |  cat  | [0.935939073563, 0.0, 0.77... |
| 63 | Height: 32 Width: 32 |  cat  | [0.0, 0.0, 0.359475255013,... |
| 68 | Height: 32 Width: 32 |  cat  | [0.708701610565, 0.0, 0.0,... |
| 77 | Height: 32 Width: 32 |  cat  | [0.295638740063, 0.0, 0.0,... |
| 78 | Height: 32 Width: 32 |  cat  | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 91 | Height: 32 Width: 32 |  cat  | [1.24886679649, 0.0, 0.0, ... |
+----+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [158.0, 112.0, 49.0, 159.0... |
| [23.0, 19.0, 23.0, 19.0, 2... |
| [22.0, 27.0, 19.0, 30.0, 3... |
| [255.0, 255.0, 251.0, 249.... |
| [10.0, 10.0, 10.0, 10.0, 1... |
| [233.0, 225.0, 209.0, 201.... |
| [61.0, 44.0, 21.0, 55.0, 4... |
| [51.0, 49.0, 53.0, 57.0, 5... |
| [38.0, 24.0, 12.0, 50.0, 3... |
| [72.0, 75.0, 57.0, 70.0, 7... |
+-------------------------------+
[10 rows x 5 columns]

In [34]:
dog_test = image_test[image_test['label']=='dog']

In [35]:
automobile_test = image_test[image_test['label']=='automobile']

In [36]:
automobile_test.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+-----+----------------------+------------+-------------------------------+
|  id |        image         |   label    |         deep_features         |
+-----+----------------------+------------+-------------------------------+
|  6  | Height: 32 Width: 32 | automobile | [0.23135882616, 0.0, 0.0, ... |
|  9  | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
|  37 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
|  66 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
|  81 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.60016828... |
|  82 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.97667396... |
| 104 | Height: 32 Width: 32 | automobile | [0.682431340218, 0.5678311... |
| 105 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 3.45144057... |
| 114 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 122 | Height: 32 Width: 32 | automobile | [0.0, 0.564986824989, 0.0,... |
+-----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [160.0, 37.0, 13.0, 185.0,... |
| [217.0, 215.0, 209.0, 210.... |
| [255.0, 255.0, 255.0, 255.... |
| [109.0, 65.0, 29.0, 84.0, ... |
| [2.0, 2.0, 13.0, 0.0, 0.0,... |
| [45.0, 70.0, 27.0, 49.0, 7... |
| [245.0, 250.0, 244.0, 245.... |
| [255.0, 255.0, 255.0, 252.... |
| [199.0, 209.0, 210.0, 195.... |
| [51.0, 71.0, 34.0, 47.0, 6... |
+-------------------------------+
[10 rows x 5 columns]

In [37]:
bird_test = image_test[image_test['label']=='bird']

In [38]:
bird_test.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+-----+----------------------+-------+-------------------------------+
|  id |        image         | label |         deep_features         |
+-----+----------------------+-------+-------------------------------+
|  25 | Height: 32 Width: 32 |  bird | [0.0, 0.317288756371, 0.0,... |
|  35 | Height: 32 Width: 32 |  bird | [0.778077363968, 0.0, 0.0,... |
|  65 | Height: 32 Width: 32 |  bird | [0.888774394989, 0.0, 0.0,... |
|  67 | Height: 32 Width: 32 |  bird | [0.315794527531, 0.0, 0.0,... |
|  70 | Height: 32 Width: 32 |  bird | [1.34134876728, 0.0, 0.0, ... |
|  75 | Height: 32 Width: 32 |  bird | [1.92161560059, 0.0, 0.0, ... |
|  84 | Height: 32 Width: 32 |  bird | [0.472827553749, 0.0, 0.0,... |
|  86 | Height: 32 Width: 32 |  bird | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 113 | Height: 32 Width: 32 |  bird | [1.47401452065, 0.0, 0.0, ... |
| 118 | Height: 32 Width: 32 |  bird | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
+-----+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [100.0, 103.0, 74.0, 68.0,... |
| [66.0, 73.0, 84.0, 66.0, 7... |
| [201.0, 206.0, 166.0, 187.... |
| [76.0, 170.0, 228.0, 77.0,... |
| [193.0, 181.0, 145.0, 181.... |
| [63.0, 111.0, 53.0, 63.0, ... |
| [233.0, 231.0, 230.0, 226.... |
| [116.0, 167.0, 136.0, 110.... |
| [114.0, 117.0, 122.0, 117.... |
| [4.0, 4.0, 2.0, 2.0, 2.0, ... |
+-------------------------------+
[10 rows x 5 columns]

In [39]:
dog_cat_neighbors = cat_model.query(dog_test,k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 127000  | 24.9509     | 226.503ms    |

| Done         | 509000  | 100         | 250.812ms    |

+--------------+---------+-------------+--------------+

In [40]:
dog_cat_neighbors.head()

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 10

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |        33       | 36.4196077068 |  1   |
|      1      |      30606      | 38.8353268874 |  1   |
|      2      |       5545      | 36.9763410854 |  1   |
|      3      |      19631      | 34.5750072914 |  1   |
|      4      |       7493      |  34.778824791 |  1   |
|      5      |      47044      | 35.1171578292 |  1   |
|      6      |      13918      | 40.6095830913 |  1   |
|      7      |      10981      | 39.9036867306 |  1   |
|      8      |      45456      | 38.0674700168 |  1   |
|      9      |      44673      | 42.7258732951 |  1   |
+-------------+-----------------+---------------+------+
[10 rows x 4 columns]

In [41]:
dog_dog_neighbors = dog_model.query(dog_test,k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 127000  | 24.9509     | 228.565ms    |

| Done         | 509000  | 100         | 244.911ms    |

+--------------+---------+-------------+--------------+

In [42]:
dog_bird_neighbors = bird_model.query(dog_test,k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 120000  | 25.1046     | 207.806ms    |

| Done         | 478000  | 100         | 231.772ms    |

+--------------+---------+-------------+--------------+

In [43]:
dog_automobile_neighbors = automobile_model.query(dog_test,k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 127000  | 24.9509     | 243.619ms    |

| Done         | 509000  | 100         | 260.129ms    |

+--------------+---------+-------------+--------------+

In [44]:
new_sframe=graphlab.SFrame({'dog-dog':dog_dog_neighbors['distance'], 
                            'dog-cat':dog_cat_neighbors['distance'],
                           'dog-automobile':dog_automobile_neighbors['distance'],
                           'dog-bird':dog_bird_neighbors['distance']})

In [45]:
new_sframe.head()

Columns:
	dog-automobile	float
	dog-bird	float
	dog-cat	float
	dog-dog	float

Rows: 10

Data:
+----------------+---------------+---------------+---------------+
| dog-automobile |    dog-bird   |    dog-cat    |    dog-dog    |
+----------------+---------------+---------------+---------------+
| 41.9579761457  | 41.7538647304 | 36.4196077068 | 33.4773590373 |
| 46.0021331807  | 41.3382958925 | 38.8353268874 | 32.8458495684 |
| 42.9462290692  | 38.6157590853 | 36.9763410854 | 35.0397073189 |
| 41.6866060048  | 37.0892269954 | 34.5750072914 | 33.9010327697 |
| 39.2269664935  |  38.272288694 |  34.778824791 | 37.4849250909 |
| 40.5845117698  | 39.1462089236 | 35.1171578292 |  34.945165344 |
| 45.1067352961  |  40.523040106 | 40.6095830913 | 39.0957278345 |
| 41.3221140974  | 38.1947918393 | 39.9036867306 | 37.7696131032 |
| 41.8244654995  | 40.1567131661 | 38.0674700168 | 35.1089144603 |
| 45.4976929401  | 45.5597962603 | 42.7258732951 | 43.2422832585 |
+----------------+---------------+---------------+---------------+
[10 rows x 4 columns]

In [48]:
def is_dog_correct(row):
    if row['dog-dog'] < row['dog-cat'] and row['dog-dog'] < row['dog-bird'] and row['dog-dog'] < row['dog-automobile']:
        return 1
    else:
        return 0

In [52]:
new_sframe.apply(is_dog_correct).sum()

678

In [53]:
cat_cat_neighbors = cat_model.query(cat_test,k=1)
cat_dog_neighbors = dog_model.query(cat_test,k=1)
cat_bird_neighbors = bird_model.query(cat_test,k=1)
cat_automobile_neighbors = automobile_model.query(cat_test,k=1)

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 127000  | 24.9509     | 231.122ms    |

| Done         | 509000  | 100         | 250.884ms    |

+--------------+---------+-------------+--------------+

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 127000  | 24.9509     | 226.895ms    |

| Done         | 509000  | 100         | 244.884ms    |

+--------------+---------+-------------+--------------+

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 119000  | 24.8954     | 219.438ms    |

| Done         | 478000  | 100         | 299.763ms    |

+--------------+---------+-------------+--------------+

Starting blockwise querying.

max rows per data block: 4348

number of reference data blocks: 4

number of query data blocks: 1

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 1000         | 127000  | 24.9509     | 236.703ms    |

| Done         | 509000  | 100         | 274.1ms      |

+--------------+---------+-------------+--------------+

In [54]:
new_cat_sframe=graphlab.SFrame({'cat-dog':cat_dog_neighbors['distance'], 
                            'cat-cat':cat_cat_neighbors['distance'],
                           'cat-automobile':cat_automobile_neighbors['distance'],
                           'cat-bird':cat_bird_neighbors['distance']})

In [55]:
new_cat_sframe.head()

Columns:
	cat-automobile	float
	cat-bird	float
	cat-cat	float
	cat-dog	float

Rows: 10

Data:
+----------------+---------------+---------------+---------------+
| cat-automobile |    cat-bird   |    cat-cat    |    cat-dog    |
+----------------+---------------+---------------+---------------+
| 39.6710582792  |  38.074265869 |  34.623719208 | 37.4642628784 |
| 43.0089056688  | 36.3674024138 | 33.8680579302 | 29.3472319585 |
| 38.6010006604  | 35.3039394947 | 32.4615168902 | 32.2599640475 |
| 39.3566307091  | 38.8944029601 | 35.7708210254 | 35.3852085188 |
| 38.3572372618  | 34.2820409875 | 31.1577686417 | 30.0442985088 |
| 42.0904793181  | 44.5352170178 | 41.3986035847 | 35.4741000424 |
| 39.0520251253  | 34.0290595084 | 30.9894594959 | 32.5845275226 |
| 39.3058645069  | 39.0236924983 | 37.0814607387 | 37.6502852614 |
| 43.0248129799  | 40.8334054297 | 39.9883863688 | 36.9801353512 |
| 45.6749176426  | 40.1258835601 | 39.7076633097 | 41.1259410707 |
+----------------+---------------+---------------+---------------+
[10 rows x 4 columns]

In [56]:
def is_cat_correct(row):
    if row['cat-cat'] < row['cat-dog'] and row['cat-cat'] < row['cat-bird'] and row['cat-cat'] < row['cat-automobile']:
        return 1
    else:
        return 0

In [57]:
new_cat_sframe.apply(is_cat_correct).sum()

548